<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">List Contract Detail</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="body-contract-detail">
      <div class="table-responsive">
        <table class="table table-hover table-inverse">
          <thead class="thead-inverse">
          <tr>
            <th>Mã hợp đồng chi tiết</th>
            <th>Mã hợp đồng</th>
            <th>Tên dịch vụ</th>
            <th>Số lượng</th>
            <th>Thao tác</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of listDtoContractDetail">
            <td>{{item._idContractDetail}}</td>
            <td>{{item._idContract}}</td>
            <td>{{item._nameAttachService}}</td>
            <td>{{item._amount}}</td>
            <td>
              <button data-content="" type="button" class="btn btn-info btn-sm btn-add mr-2"
                      data-toggle="modal" data-target="#modalAddId"><i class="fa fa-plus"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearUrl()"><i class="fa fa-close"></i>
        Close
      </button>
    </div>
  </div>
</div>


