<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Edit Service</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="body-edit">
      <form autocomplete="off"
            [formGroup]="facilityFormEdit">
        <div class="container">
          <div class="form-group row">
            <label for="loaiDichVu-edit">Dịch vụ: </label>
            <select name="loaiDichVu" class="form-control"
                    id="loaiDichVu-edit" onchange="display('-edit')"
                    formControlName="_typeService">
              <option value="">-----Lựa chọn-----</option>
              <option value="1">Villa</option>
              <option value="2">House</option>
              <option value="3">Room</option>
            </select>
            <div class="text-danger"
                 *ngIf="facilityFormEdit.controls._typeService.invalid
                     && (facilityFormEdit.controls._typeService.touched || facilityFormEdit.controls._typeService.dirty)">
              <p class="m-0" *ngIf="facilityFormEdit.controls._typeService.hasError('required')">
                Please choose type of service!
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="maDichVu-edit">Mã dịch vụ: </label>
            <input type="number" formControlName="_idService" id="maDichVu-edit" class="form-control">
            <div class="text-danger"
                 *ngIf="facilityFormEdit.controls._idService.invalid
                     && (facilityFormEdit.controls._idService.touched || facilityFormEdit.controls._idService.dirty)">
              <p class="m-0" *ngIf="facilityFormEdit.controls._idService.hasError('required')">
                Please input id service!
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="tenDichVu-edit">Tên dịch vụ: </label>
            <input type="text" formControlName="_titleService" id="tenDichVu-edit" class="form-control"
                   placeholder="Tên dịch vụ"
                   aria-describedby="helpNameId">
            <small id="helpNameId" class="text-muted d-block w-100">Không có ký tự đặc biệt hoặc số</small>
            <div class="text-danger"
                 *ngIf="facilityFormEdit.controls._titleService.invalid
                     && (facilityFormEdit.controls._titleService.touched || facilityFormEdit.controls._titleService.dirty)">
              <p class="m-0" *ngIf="facilityFormEdit.controls._titleService.hasError('required')">
                Please input name service!
              </p>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <label for="dienTich-edit">Diện tích: </label>
              <input type="number" formControlName="_area" id="dienTich-edit" class="form-control"
                     placeholder="Diện tích"
                     aria-describedby="helpAreaId">
              <small id="helpAreaId" class="text-muted">Diện tích phải lớn hơn không</small>
              <div class="text-danger"
                   *ngIf="facilityFormEdit.controls._area.invalid
                     && (facilityFormEdit.controls._area.touched || facilityFormEdit.controls._area.dirty)">
                <p class="m-0" *ngIf="facilityFormEdit.controls._area.hasError('required')">
                  Please input area facility!
                </p>
              </div>
              <div class="text-danger"
                   *ngIf="facilityFormEdit.controls._area.invalid
                     && (facilityFormEdit.controls._area.touched || facilityFormEdit.controls._area.dirty)">
                <p class="m-0" *ngIf="facilityFormEdit.controls._area.hasError('min')">
                  Please input area facility bigger than 0!
                </p>
              </div>
            </div>
            <div class="col-6">
              <label for="chiPhi-edit">Chi phí thuê: </label>
              <input type="number" formControlName="_cost" id="chiPhi-edit" class="form-control"
                     placeholder="Chi phí thuê"
                     aria-describedby="helpCostId">
              <small id="helpCostId" class="text-muted">Chi phí thuê phải lớn hơn không</small>
              <div class="text-danger"
                   *ngIf="facilityFormEdit.controls._cost.invalid
                     && (facilityFormEdit.controls._cost.touched || facilityFormEdit.controls._cost.dirty)">
                <p class="m-0" *ngIf="facilityFormEdit.controls._cost.hasError('required')">
                  Please input cost facility!
                </p>
              </div>
              <div class="text-danger"
                   *ngIf="facilityFormEdit.controls._cost.invalid
                     && (facilityFormEdit.controls._cost.touched || facilityFormEdit.controls._cost.dirty)">
                <p class="m-0" *ngIf="facilityFormEdit.controls._cost.hasError('min')">
                  Please input cost facility bigger than 0!
                </p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <label for="soNguoi-edit">Số người tối đa: </label>
              <input type="number" formControlName="_maximum" id="soNguoi-edit" class="form-control"
                     placeholder="Số người tối đa"
                     aria-describedby="helpAmountId">
              <small id="helpAmountId" class="text-muted">Số người tối đa phải lớn hơn không</small>
              <div class="text-danger"
                   *ngIf="facilityFormEdit.controls._maximum.invalid
                     && (facilityFormEdit.controls._maximum.touched || facilityFormEdit.controls._maximum.dirty)">
                <p class="m-0" *ngIf="facilityFormEdit.controls._maximum.hasError('required')">
                  Please input maximum people!
                </p>
              </div>
              <div class="text-danger"
                   *ngIf="facilityFormEdit.controls._maximum.invalid
                     && (facilityFormEdit.controls._maximum.touched || facilityFormEdit.controls._maximum.dirty)">
                <p class="m-0" *ngIf="facilityFormEdit.controls._maximum.hasError('min')">
                  Please input maximum people bigger than 0!
                </p>
              </div>
            </div>
            <div class="col-6">
              <label for="kieuThue-edit">Tên kiểu thuê: </label>
              <select name="kieuThue" formControlName="_typeBorrow" class="form-control" id="kieuThue-edit">
                <option value="">-----Lựa chọn-----</option>
                <option value="hour">Giờ</option>
                <option value="day">Ngày</option>
                <option value="month">Tháng</option>
                <option value="year">Năm</option>
              </select>
              <div class="text-danger"
                   *ngIf="facilityFormEdit.controls._typeBorrow.invalid
                     && (facilityFormEdit.controls._typeBorrow.touched || facilityFormEdit.controls._typeBorrow.dirty)">
                <p class="m-0" *ngIf="facilityFormEdit.controls._typeBorrow.hasError('required')">
                  Please choose type of borrows!
                </p>
              </div>
            </div>
          </div>
          <div class="form-group row" id="standard-input-edit">
            <label for="tieuChuan-edit">Tiêu chuẩn phòng: </label>
            <input type="text" formControlName="_standardRoom" id="tieuChuan-edit" class="form-control"
                   placeholder="Tiêu chuẩn phòng"
                   aria-describedby="helpStandardId">
            <small id="helpStandardId" class="text-muted">Không có ký tự đặc biệt</small>
          </div>
          <div class="form-group row" id="pool-input-edit">
            <label for="hoBoi-edit">Diện tích hồ bơi: </label>
            <input type="number" formControlName="_areaPool" id="hoBoi-edit" class="form-control"
                   placeholder="Diện tích hồ bơi"
                   aria-describedby="helpPoolAreaId">
            <small id="helpPoolAreaId" class="text-muted d-block w-100">Diện tích hồ bơi phải lớn hơn 0</small>
            <div class="text-danger"
                 *ngIf="facilityFormEdit.controls._areaPool.invalid
                     && (facilityFormEdit.controls._areaPool.touched || facilityFormEdit.controls._areaPool.dirty)">
              <p class="m-0" *ngIf="facilityFormEdit.controls._areaPool.hasError('min')">
                Please input area pool bigger than 0!
              </p>
            </div>
          </div>
          <div class="form-group row" id="floor-input-edit">
            <label for="floor-edit">Số tầng: </label>
            <input type="number" formControlName="_floor" id="floor-edit" class="form-control" placeholder="Số tầng"
                   aria-describedby="helpFloorId">
            <small id="helpFloorId" class="text-muted d-block w-100">Số tầng phải lớn hơn 0</small>
            <div class="text-danger"
                 *ngIf="facilityFormEdit.controls._floor.invalid
                     && (facilityFormEdit.controls._floor.touched || facilityFormEdit.controls._floor.dirty)">
              <p class="m-0" *ngIf="facilityFormEdit.controls._floor.hasError('min')">
                Please input floor bigger than 0!
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="dichVuDiKem-edit">Dịch vụ miễn phí đi kèm: </label>
            <input type="text" formControlName="_attachFreeService" id="dichVuDiKem-edit" class="form-control"
                   placeholder="Dịch vụ miễn phí đi kèm" aria-describedby="helpAttachId">
            <small id="helpAttachId" class="text-muted">Không có ký tự đặc biệt</small>
          </div>
          <div class="form-group row">
            <label for="tienNghiKhac-edit">Mô tả dịch vụ: </label>
            <textarea type="text" formControlName="_descriptionService" id="tienNghiKhac-edit" class="form-control"
                      placeholder="Mô tả tiện nghi khác"></textarea>
            <div class="text-danger"
                 *ngIf="facilityFormEdit.controls._descriptionService.invalid
                     && (facilityFormEdit.controls._descriptionService.touched || facilityFormEdit.controls._descriptionService.dirty)">
              <p class="m-0" *ngIf="facilityFormEdit.controls._descriptionService.hasError('required')">
                Please input description!
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="image-edit">Đường dẫn ảnh: </label>
            <input type="text" formControlName="_urlService" id="image-edit" class="form-control"
                   placeholder="Đường dẫn ảnh mô tả dịch vụ">
          </div>
        </div>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i>
        Close
      </button>
      <button type="button" class="btn btn-primary" [disabled]="facilityFormEdit.invalid"
              (click)="onSubmit()" data-dismiss="modal"
              id="service-edit-new"><i
        class="fa fa-save"></i> Edit
      </button>
    </div>
  </div>
</div>
