<div class="container">
  <div class="table-responsive">
    <table class="table table-hover table-inverse" id="display-customer">
      <thead class="thead-inverse">
      <tr>
        <th>Mã khách hàng</th>
        <th>Họ tên</th>
        <th>Ngày sinh</th>
        <th>Giới tính</th>
        <th>số CMND</th>
        <th>Số điện thoại</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Loại khách</th>
        <th>Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of listCustomer">
        <td>{{customer.idCustomer}}</td>
        <td>{{customer.fullName}}</td>
        <td>{{customer.dayOfBirth}}</td>
        <td>
          <span *ngIf="customer.gender == 1; then thenBlock else elseBlock"></span>
          <ng-template #thenBlock>Nam</ng-template>
          <ng-template #elseBlock>Nữ</ng-template>
        </td>
        <td>{{customer.document}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.nameTypeCustomer}}</td>
        <td>
          <a type="button" class="btn btn-warning btn-sm btn-edt ml-1 mr-1"
             data-toggle="modal" data-target="#modalEdtId"
             routerLink="/customer/edit-customer/{{customer.idCustomer}}">
            <i class="fa fa-pen"></i> Edit
          </a>
          <a type="button" class="btn btn-danger btn-sm btn-del ml-1 mr-1"
             data-toggle="modal" data-target="#modalDelId"
             routerLink="/customer/delete-customer/{{customer.idCustomer}}">
            <i class="fa fa-trash-can"></i> Delete
          </a>
          <a type="button" class="btn btn-info btn-sm btn-detail ml-1 mr-1"
             data-toggle="modal" data-target="#modalDetailId">
            <i class="fa fa-info"></i> Detail
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination align-content-center align-items-center mt-2 mb-2">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#" class="active">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
  </div>
</div>

<button onclick="scrollTopAnimated()" id="back-top" title="Go to top"><i class="fa fa-arrow-up"></i></button>
<button data-toggle="modal" data-target="#modalAddId" id="add-new" title="Add new customer"><i class="fa fa-plus"
                                                                                               data-toggle="modal"
                                                                                               data-target="#modalAddId"></i>
</button>

<!--Modal-->
<!--Add new-->
<div class="modal fade" id="modalAddId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="body-addnew">
        <form autocomplete="off"
              [formGroup]="customerForm">
          <div class="container">
            <div class="form-group row">
              <label for="maKhachHang-add">Mã khách hàng: </label>
              <input type="number" id="maKhachHang-add" class="form-control" formControlName="idCustomer">
              <div class="text-danger"
                   *ngIf="customerForm.controls.idCustomer.invalid
                     && (customerForm.controls.idCustomer.touched || customerForm.controls.idCustomer.dirty)">
                <p class="m-0" *ngIf="customerForm.controls.idCustomer.hasError('required')">
                  Please input ID of customer!
                </p>
              </div>
            </div>
            <div class="form-group row">
              <label for="hoTen-add">Họ và tên: </label>
              <input type="text" id="hoTen-add" class="form-control" placeholder="Họ và tên"
                     aria-describedby="helpNameId" formControlName="fullName">
              <small id="helpNameId" class="text-muted d-block w-100">Không có ký tự đặc biệt hoặc số</small>
              <div class="text-danger"
                   *ngIf="customerForm.controls.fullName.invalid
                     && (customerForm.controls.fullName.touched || customerForm.controls.fullName.dirty)">
                <p class="m-0" *ngIf="customerForm.controls.fullName.hasError('required')">
                  Please input Full name of customer!
                </p>
              </div>
            </div>
            <div class="form-group row">
              <label for="ngaySinh-add">Ngày sinh: </label>
              <input type="date" id="ngaySinh-add" class="form-control" formControlName="dayOfBirth">
              <div class="text-danger"
                   *ngIf="customerForm.controls.dayOfBirth.invalid
                     && (customerForm.controls.dayOfBirth.touched || customerForm.controls.dayOfBirth.dirty)">
                <p class="m-0" *ngIf="customerForm.controls.dayOfBirth.hasError('required')">
                  Please select day of birth of customer!
                </p>
              </div>
            </div>
            <div class="form-group row">
              <label for="gioiTinh-add">Giới tính: </label>
              <select class="form-control" id="gioiTinh-add" formControlName="gender">
                <option value="">-----Lựa chọn-----</option>
                <option value="1">Nam</option>
                <option value="0">Nữ</option>
              </select>
              <div class="text-danger"
                   *ngIf="customerForm.controls.gender.invalid
                     && (customerForm.controls.gender.touched || customerForm.controls.gender.dirty)">
                <p class="m-0" *ngIf="customerForm.controls.gender.hasError('required')">
                  Please select gender of customer!
                </p>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-6">
                <label for="soCmnd-add">Số CMND/CCCD: </label>
                <input id="soCmnd-add" class="form-control" formControlName="document"
                       type="text" aria-describedby="helpSoCmndId">
                <small id="helpSoCmndId" class="text-muted">Không có ký tự đặc biệt</small>
                <div class="text-danger"
                     *ngIf="customerForm.controls.document.invalid
                     && (customerForm.controls.document.touched || customerForm.controls.document.dirty)">
                  <p class="m-0" *ngIf="customerForm.controls.document.hasError('required')">
                    Please input document of customer!
                  </p>
                </div>
              </div>
              <div class="col-6">
                <label for="soDienThoai-add">Số điện thoại: </label>
                <input id="soDienThoai-add" class="form-control" formControlName="phone"
                       type="text" aria-describedby="helpSdtId">
                <small id="helpSdtId" class="text-muted">Định dạng +84|0(3|9)-xx.xx.xx.xx</small>
                <div class="text-danger"
                     *ngIf="customerForm.controls.phone.invalid
                     && (customerForm.controls.phone.touched || customerForm.controls.phone.dirty)">
                  <p class="m-0" *ngIf="customerForm.controls.phone.hasError('required')">
                    Please input phone number of customer!
                  </p>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-6">
                <label for="email-add">Email: </label>
                <input id="email-add" class="form-control" formControlName="email"
                       type="text" aria-describedby="helpEmailId">
                <small id="helpEmailId" class="text-muted">Định dạng VD: abc123@domain.com</small>
                <div class="text-danger"
                     *ngIf="customerForm.controls.email.invalid
                     && (customerForm.controls.email.touched || customerForm.controls.email.dirty)">
                  <p class="m-0" *ngIf="customerForm.controls.email.hasError('required')">
                    Please input email of customer!
                  </p>
                </div>
                <div class="text-danger"
                     *ngIf="customerForm.controls.email.invalid
                     && (customerForm.controls.email.touched || customerForm.controls.email.dirty)">
                  <p class="m-0" *ngIf="customerForm.controls.email.hasError('email')">
                    Email invalid. Example format: abc123@domain.com
                  </p>
                </div>
              </div>
              <div class="col-6">
                <label for="diaChi-add">Địa chỉ: </label>
                <input id="diaChi-add" class="form-control" formControlName="address"
                       type="text" aria-describedby="helpDiaChiId">
                <small id="helpDiaChiId" class="text-muted">Định dạng VD: 123 hoặc 123/12 Trần Độc</small>
                <div class="text-danger"
                     *ngIf="customerForm.controls.address.invalid
                     && (customerForm.controls.address.touched || customerForm.controls.address.dirty)">
                  <p class="m-0" *ngIf="customerForm.controls.address.hasError('required')">
                    Please input address of customer!
                  </p>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="type-add">Danh mục: </label>
              <select name="type" class="form-control" id="type-add" formControlName="nameTypeCustomer">
                <option value="">-----Lựa chọn-----</option>
                <option value="Diamond">Diamond</option>
                <option value="Platium">Platium</option>
                <option value="Gold">Gold</option>
                <option value="Silver">Silver</option>
                <option value="Member">Member</option>
              </select>
              <div class="text-danger"
                   *ngIf="customerForm.controls.nameTypeCustomer.invalid
                     && (customerForm.controls.nameTypeCustomer.touched || customerForm.controls.nameTypeCustomer.dirty)">
                <p class="m-0" *ngIf="customerForm.controls.nameTypeCustomer.hasError('required')">
                  Please choose name type of customer!
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
        <button type="button" class="btn btn-primary"
                [disabled]="customerForm.invalid"
                (click)="addNewCustomerService()"
                data-dismiss="modal"
                id="customer-add-new">
          <i class="fa fa-save"></i> Add
        </button>
      </div>
    </div>
  </div>
</div>

<!--Edit-->
<div class="modal fade" id="modalEdtId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
  <router-outlet></router-outlet>
</div>

<!--modal delete-->
<div class="modal fade" id="modalDelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
  <router-outlet></router-outlet>
</div>

<!--modal detail-->
<div class="modal fade" id="modalDetailId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detail Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="body-detail">
        <p>Thông tin khách hàng chi tiết</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
      </div>
    </div>
  </div>
</div>
