<div class="container">
  <div class="table-responsive">
    <table class="table table-hover table-inverse" id="display-contract">
      <thead class="thead-inverse">
      <tr>
        <th>Mã hợp đồng</th>
        <th>Khách hàng</th>
        <th>Dịch vụ</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th>Tiền đặt cọc</th>
        <th>Tổng tiền</th>
        <th>Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contract of listContract">
        <td>{{contract.idContract}}</td>
        <td>{{contract.nameCustomer}}</td>
        <td>{{contract.nameService}}</td>
        <td>{{contract.dateStart}}</td>
        <td>{{contract.dateEnd}}</td>
        <td>{{contract.deposit}}</td>
        <td>{{contract.total}}</td>
        <td>
          <button data-content="" type="button" class="btn btn-info btn-sm btn-add mr-2"
                  data-toggle="modal" data-target="#modalAddId"><i class="fa fa-plus"></i></button>
          <a type="button" class="btn btn-info btn-sm btn-list" routerLink="/contract/contract-detail/{{contract.idContract}}"
                  data-toggle="modal" data-target="#modalListId">Danh sách các dịch vụ đi kèm
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination align-content-center align-items-center mt-2 mb-2">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#" class="active">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
  </div>
</div>

<!--modal add contract-->
<div class="modal fade" id="modalAddContractId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Contract</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="body-addnew-contract">
        <form autocomplete="off"
              [formGroup]="contractForm">
          <div class="container">
            <div class="form-group row">
              <label for="maHopDong-add">Mã hợp đồng: </label>
              <input type="number" id="maHopDong-add" class="form-control">
            </div>
            <div class="form-group row">
              <label for="dichVu-add">Dịch vụ: </label>
              <select name="dichVu" class="form-control" id="dichVu-add">
                <option value="">-------Select-------</option>
                <option *ngFor="let facility of listFacility" value="{{facility._idService}}">{{facility._titleService}}</option>
              </select>
            </div>
            <div class="form-group row">
              <label for="khachHang-add">Khách hàng thuê: </label>
              <select name="khachHang" class="form-control" id="khachHang-add">
                <option value="">-------Select-------</option>
                <option *ngFor="let customer of listCustomer" value="{{customer.idCustomer}}">{{customer.fullName}}</option>
              </select>
            </div>
            <div class="form-group row">
              <div class="col-6">
                <label for="ngayBatDau-add">Ngày làm hợp đồng: </label>
                <input type="date" id="ngayBatDau-add" class="form-control">
              </div>
              <div class="col-6">
                <label for="ngayKetThuc-add">Ngày kết thúc hợp đồng: </label>
                <input type="date" id="ngayKetThuc-add" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="tienDatCoc-add">Tiền đặt cọc: </label>
              <input type="number" id="tienDatCoc-add" class="form-control" placeholder="Tiền đặt cọc"
                     aria-describedby="helpDepositId" value="0">
              <small id="helpDepositId" class="text-muted">Tiền đặt cọc phải lớn hơn 0</small>
              <p class="w-100" id="errorDepositId"></p>
            </div>
            <div class="form-group row">
              <label for="total-add">Tổng tiền: </label>
              <input type="number" id="total-add" class="form-control" value="0" readonly>
            </div>
            <div class="form-group row">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" onchange="displayField(this)">
                <label class="custom-control-label" for="customSwitch1">Dịch vụ đính kèm</label>
              </div>
            </div>
            <div class="form-group row display-invisible" id="soLuongInput">
              <label for="soLuongContractDetail-add">Số lượng: </label>
              <input type="number" id="soLuongContractDetail-add" class="form-control field" placeholder="Số lượng"
                     aria-describedby="helpAmountDetailId" value="0">
              <small id="helpAmountDetailId" class="text-muted">Số lượng phải lớn hơn không</small>
              <p class="w-100 invalid-feedback" id="errorAmountId"></p>
            </div>
            <div class="form-group row display-invisible" id="loaiDichVuInput">
              <label for="loaiDichVuThemDetail-add">Dịch vụ thêm: </label>
              <select name="loaiDichVu" class="form-control" id="loaiDichVuThemDetail-add">
                <option value="">-------Select-------</option>
                <option *ngFor="let s of listAttachService" value="{{s._idAttachService}}">{{s._nameAttachService}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i>
          Close
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="editOrAddNewContract"><i
          class="fa fa-save"></i> Add
        </button>
      </div>
    </div>
  </div>
</div>

<!--modal add-->
<div class="modal fade" id="modalAddId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Contract Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="body-addnew-contract-detail">
        <div class="container">
          <div class="form-group row">
            <label for="maHopDong-contract">Mã hợp đồng: </label>
            <input type="number" id="maHopDong-contract" class="form-control" readonly>
          </div>
          <div class="form-group row">
            <label for="soLuong-add">Số lượng: </label>
            <input type="number" id="soLuong-add" class="form-control" placeholder="Số lượng"
                   aria-describedby="helpAmountId" value="0">
            <small id="helpAmountId" class="text-muted">Số lượng phải lớn hơn không</small>
            <p class="w-100 invalid-feedback" id="errorAmount"></p>
          </div>
          <div class="form-group row">
            <label for="loaiDichVuThem-add">Dịch vụ thêm: </label>
            <select name="loaiDichVu" class="form-control field" id="loaiDichVuThem-add">
              <option value="">-------Select-------</option>
              <option *ngFor="let s of listAttachService" value="{{s._idAttachService}}">{{s._nameAttachService}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i>
          Close
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveContractDetail"><i
          class="fa fa-save"></i> Add
        </button>
      </div>
    </div>
  </div>
</div>

<!--modal list contract detail-->
<div class="modal fade" id="modalListId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
     aria-hidden="true">
  <router-outlet></router-outlet>
</div>

<button data-toggle="modal" data-target="#modalAddContractId" id="add-new" title="Add new contract"><i class="fa fa-plus"
                                                                                                       data-toggle="modal"
                                                                                                       data-target="#modalAddContractId"></i>
</button>
